/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created  : Feb 1 2015
    Author   : Zach Zweig-Vinegar
*/
html {
    font-size: 17px;
}
h1 {
    font-size: 3em;
    font-family: Helvetica;
    color: white;
}

h2 {
    font-family: Helvetica;
    color: white;
}

h3 {
    font-family: Helvetica;
    color: white;
    font-size: 1em;
}

p,ul,table {
    font-size: 1em;
    font-family: Helvetica;
    color: gray;
}

body {
    background-image: url('../img/Pinwheel_fractal.png');
    background-attachment: fixed;
    margin: 5% 10%;
}

.resizable {
    width: 100%;
}

.container {
    background-color: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 15px;
}

.section {
    padding: 25px;
    background-color: rgba(25,25,25,0.85);;
    border-radius: 25px;
    margin: 25px;
}

.project {
    margin: 0px;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
    outline: 0;
}

li a {
    text-decoration: none;
    word-wrap: break-word;
    display: block;
}

li a:hover {
    opacity: .5;
}

a:link, a:visited {
    color: #4b86ba;
}
a:hover {
    color: #afd1df;
}

#title ul.menu {
    border:1px solid white;
    border-width:1px 0px;
    padding: 10px;
    text-align:center;
    /*display:block;*/
    /*width: 100%;*/
}

.menu-fixed {
    border:1px solid white;
    border-width:1px 0px;
    padding: 10px;
    text-align:center;

    position: fixed;
    display: table;
    background: rgba(0,0,0,0.92);
    margin: 0px;
    top: 0px;
    bottom: 0px;
}

.toggle {
    cursor: pointer;
}



li.menu {
    list-style: none;
    display: inline-block;
    width: 20%;
    cursor: pointer;
}

.menu h2 {
    font-size: 1.2em;
    font-family: Helvetica;
    color: white;
    margin: 5px;
}

@media only screen
/*and (min-device-width: 768px)*/
and (max-device-width: 1024px) {
    html {
        font-size: 12px;
    }
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
    .container {
        padding: 3%;
        margin: 0px;
    }

    .section {
        padding: 3%;
        margin: 2%;
    }

    ul.menu {
        /*width: 100%;*/
        /*display: block;*/
    }

    .menu-fixed {
        border:1px solid white;
        border-width:1px 0px;
        padding: 10px;
        text-align:center;

        position: fixed;
        display: table;
        background: rgba(0,0,0,0.92);
        margin: 0px;
        top: 0px;
        bottom: 0px;
    }
    li.menu {
        width: 24%;
    }
    h1 {
        margin: 20px 5px;
    }
    h2 {
        font-size: 1.5em;
    }
    .menu h2 {
        font-size: 1.1em;
    }
}