/*
    Created  : Sept 15 2016
    Author   : Zach Zweig-Vinegar
*/
html {
    font-size: 17px;
}
h1 {
    font-size: 3em;
    font-family: Helvetica;
    color: white;
}

h2 {
    font-family: Helvetica;
    color: white;
    font-size: 1.5em;
}

h3 {
    font-family: Helvetica;
    color: white;
    font-size: 1.25em;
}

h4 {
    font-family: Helvetica;
    color: white;
    font-size: 1.0em;
}

p,ul,table,figcaption,span {
    font-size: 1em;
    font-family: Helvetica;
    color: #999999;
}

body {
    background-image: url('../img/Pinwheel_fractal.png');
    background-attachment: fixed;
    margin: 5% 10%;
}

.resizable {
    width: 100%;
    background-color: rgba(70,70,70,0.80);
    display: inline-block;
    border-radius: 15px;
    vertical-align: middle;
    margin: 2%;
    width: 96%;
}

.pic-text {
    font-size: 2.5em;
    font-family: Helvetica;
    color: white;
}

.gif {
    display: block;
    max-width: 640px;
}

/*.gif:hover {
    cursor:pointer;
    background:url('URL-of-animated-GIF');
}*/

.container {
    background-color: rgba(20,20,20,0.92);
    padding: 25px;
    border-radius: 15px;
}

.section {
    padding: 25px;
    background-color: rgba(45,45,45,0.80);;
    border-radius: 25px;
    margin: 25px;
}

.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: 20%;
}

.project {
    margin: 0px;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
    outline: 0;
}

li a {
    text-decoration: none;
    word-wrap: break-word;
    display: block;
}

li a:hover {
    opacity: .5;
}

a:link, a:visited {
    color: #4b86ba;
}
a:hover {
    color: #afd1df;
}

#title ul.menu {
    border:1px solid white;
    border-width:1px 0px;
    padding: 10px;
    text-align:center;
    border-radius: 35px;
    /*border-radius: 15px 15px 150px 150px;*/
}

.menu-fixed {
    border:1px solid white;
    border-width:1px 0px;
    padding: 10px;
    text-align:center;
    position: fixed;
    display: table;
    background: rgba(0,0,0,0.92);
    margin: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 35px;
    /*border-radius: 15px 15px 150px 150px;*/
}

.toggle, #courses h2 {
    cursor: pointer;
}

.toggle, #courses h2:hover {
    opacity: .5;
}

h2.toggle {
    background-color: gray;
    padding: 1%;
    border-radius: 10px;
}

.two-col {
    display: inline-block;
    width: 45%;
    margin: 2%;
}

.parts img {
    max-width: 250px;
}

.footer {
    margin: 10px;
    padding: 10px;
}

#copyright {
    text-align: center;
}

li.menu {
    list-style: none;
    display: inline-block;
    width: 20%;
    cursor: pointer;
}

.menu h2 {
    font-size: 1.2em;
    font-family: Helvetica;
    color: white;
    margin: -15px 5px;
}

@media only screen
/*and (min-device-width: 768px)*/
and (max-device-width: 1024px) {
    html {
        font-size: 12px;
    }
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
    .container {
        padding: 3%;
        margin: 0px;
    }

    .section {
        padding: 3%;
        margin: 2%;
    }

    .resizable {
        margin: 5%;
        width: 90%;
    }

    ul.menu {
        /*width: 100%;*/
        /*display: block;*/
    }

    .menu-fixed {
        border:1px solid white;
        border-width:1px 0px;
        padding: 10px;
        text-align:center;

        position: fixed;
        display: table;
        background: rgba(0,0,0,0.92);
        margin: 0px;
        top: 0px;
        bottom: 0px;
    }
    li.menu {
        width: 24%;
    }
    h1 {
        margin: 20px 5px;
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    .menu h2 {
        font-size: 1.1em;
    }

    .project figure {
        margin: 1%;
    }

    .two-col {
        width: 100%;
    }

    .parts img {
        width: 80%;
    }
}