.wrapper {
    margin: 0% 15%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: -15px;
    /*width: 70%;*/
    overflow:hidden;
    padding: 10px;
    background-color: #F1FCFF;
    min-height: 70vh;
}

.slide-control {
    position: absolute;
    top: 40%;
    /*top: 40%;*/
    /*left: 15px;*/
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    opacity: 0.5;
    display: inline-block;
    text-decoration: none;
}

.slide-control.right {
    right: 15px;
    /*left: auto;*/
    float: right;
}

.slide-control.left {
    left: 15px;
}

.slide-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
}

.blog{
    width:65%;
    text-align: left;
    float: left;
}

.blog-post{
    padding: 1%;
}

.blog-date{
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
}

.slide-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    z-index: 0;
}

#slideshow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}

body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    /*background-color: #93E3FA;*/
    line-height: 1.5em;
}


html {
    background-image: url("../images/plain.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

td{
    padding-bottom: 15px;
}

h1{
    margin-left: 15%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    font-size: 200%;/* text-align: center; */
    position: relative;
    left: 150px;

}

h2,h3{
    font-family: 'Oxygen', sans-serif;
    color: #059DC9;
    margin-left: 10px;
    line-height: normal;
}

p{
    padding-left: 10px;
    width: 90%
}

.blog-content{
    font-family: sans-serif;
    font-size: 14px;
}

form {

}

#contact_form div+div{
    margin-top: 1em;
}

label, .labs{
    display: inline-block;
    text-align:left;
}
#conthead{
    margin-left: 1em;
}

.contact_wrap{
    width: 40%;
    float: left;
    margin-left: 30px;
    padding-top: 1.5em;
    padding-bottom: 8.5em;
}


#contact_pic{
    float: right;
    width: 39%;
    margin-right: 4%;
}

#contact_pic img {
    width: 100%;
}

/*.header_container{
        margin-top: 5%;
        background-color: #4D4D4D;

}*/

.logo{
    position: absolute;
    display: inline-block;
    margin-top: -15px;
}

.labs{
    width: 100px;
}

textarea, .input_align{
    resize: vertical;
    width: 200px;
}


.bio_img{
    /*width: 10%;*/
    padding-right: 15px;


}

.bio_img img {
    display: inline-block;
    vertical-align: top;
}

.bio_img p {
    display: inline-block;
    width: 54%;
    margin-left: 20px;
}

.button{
    padding-top: 10px;
}

.errors{
    color: red;
    margin-left: 20%;
}

.alert_msg{
    margin-left: 15%;
    color: red;
}



.footer{
    /*width: 100%;*/
    margin: 0 auto;
    background-color: #636363;
    padding: 15px;
}

.media_buttons{
    margin-left: 15%;
}


.social{
    padding-right: 5px;
}
.social a:hover{
    background-color: #919191;
}


.navbar{
    background-color: #636363;
    z-index: 1;
    position: relative;
}

.navwrap{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    margin-left: 15%;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin-left: 15%;
    font-family: 'Julius Sans One', sans-serif;
}

.navbar ul li{
    display: inline-block;
    padding: 10px;
    /*    width: 80px;*/
}

.navbar ul li:hover{
    background-color: #919191;
}

.navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.navbar ul li a:hover{
    color: #34056B;
}


.navbar ul li:hover ul{
    display: block;
}

.navbar ul ul{
    display: none;
    position: absolute;
    background-color: #919191;
    margin-left: -10px;
    margin-top: 10px;
}

.navbar ul ul li{
    display: block;
    border-top: 1px solid gray;
}

.navbar ul ul li a {
    font-size: 13px;
    width: 53px;
}

.navbar ul ul li a:hover{
    color: #34056B;
}


.par_wrap{
    padding-top: 2%;
    padding-left: 6%;
}

#about_video{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 30px;
}



#centerpage{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#firstmission{
    width: 100%;
}

/*#firstmission h2, #secondmission h2{
        padding-left: 10px;
}*/

#secondmission{
    width:100%;
    padding-top: 4em;
}

/*.missiontxt{
        padding: 10px;
}*/

.imgsize{
    width: 70%;
    padding-left: 2%;
    padding-top: 3%;

}

.container{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding-top: 3%;
}

.gallerylinks {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 2px solid white;
}

.gallerylinks:hover {
    border: 2px solid black;
}

.header_container h1 {
    /* margin-right: 0;
     margin-left: 0;*/
    left: 0;
    display: inline-block;
    color: white;
    margin-left: 120px;
}

.header_container{
    padding-top: 10px;
    background-color: #4D4D4D;
}

.titlebar {
    display: block;
    width: 70%;
    margin: auto;
}

.searchbar {
    display: inline-block;
    float: right;
    position: relative;
    top: 20px;
    /*width: 40%;*/
    /*vertical-align: middle;*/
    height: 45px;
    margin: auto;
    z-index: 2;
}

/*.searchbar:hover {
    background-color: #636363;
}

.searchbar:active {
    background-color: #636363;
}

.searchbar img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 0;
}

#search {
    display: inline-block;
    vertical-align: middle;
}

#search input {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 51px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}

#search input:focus {
    background-color: #636363;
    outline: none;
}

#search_submit {
    cursor: pointer;
}

#searchbox {
    margin-left: -59px;
    padding-left: 57px;
    margin-right: -77px;
    padding-left: 74px;
}*/


#donatebutton {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    font-weight: bold;
    /*height: 51px;*/
    line-height: 41px;
    text-decoration: none;
    color: white;
    /*background-color: #636363;*/
    background-color: #059DC9;
    outline: none;
    padding: 10px;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    /*vertical-align: middle;*/


    width: 200px;
}

#donatebutton span {
    vertical-align: middle;
    /*color: white*/
}

.donatesection img {
    width: 100%;
    max-width: 250px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
}

.donatesection form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.donatesection p {
    text-align: left;
}

.donatesection {
    display: none;
    text-align: center;
}

.donatetitle {
    display: block;
    cursor: pointer;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #636363;
    padding: 10px;
}

#donate_wrap {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#donate_img {
    width: 37%;
    /*float: right;*/
    /*min-width: 250px;*/
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 20px;
    margin-top: 24%;
}

#donate_header {
    width: 180%;
    margin-left: 10px;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width:  100% !important;display:block;z-index:2000;position:relative; background-color: #fff;}

.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe  span[style] {width: 100% !important;display:block;z-index:2000;position:relative; background-color: #fff;}

.tabs {
    width:35%;
    display:inline-block;
    min-width: 180px;
    vertical-align: top;
}

.tab-links:after {
    display:block;
    clear:both;
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background: #fff;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    color:#4c4c4c;
    background:#7FB5DA;
}

.tab-content {
    background:#fff;
    background-color: #F1FCFF;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

@media only screen and (max-width: 1052px){
    .donatesection form input {
        width: 50%;
    }
    .donatesection form select option {
        font-size: 1em;
    }
    .donatesection form select {
        font-size: 1.5em;
    }
    .donatesection img {
        width: 50%;
        max-width: none;
    }
    .donatetitle {
        font-size: 2em;
    }
    .contact_wrap {
        width: 90%;
    }
    .header_container h1 {
        font-size: 3em;
    }
    .blog {
        width: 100%;
    }
    .social-media {
        width: 100%;
    }
    .bio_img {
        text-align: center;
    }
    .bio_img p {
        text-align: left;
        /*display: inline-block;*/
        width: 100%;
        margin-left: 0px;
    }

    .bio_img img{

    }

    .bios{
        text-align: center;
    }

    h2,h3 {
        font-size: 3em;
    }

    #contact_pic img {
        display: none;
    }

    #donate_img {
        display: none;
    }

    #donate_wrap {
        width: 93%;
    }

    #donate_header {
        width: 98%;
    }

    .navbar ul li a {
        font-size: 2em;
        width: 100%;
    }

    .navbar ul li {
        padding: 20px;
        width: 310px;
        font-size: 1.2em;
    }
    .navbar ul ul li a {
        font-size: 1.2em;
        width: 100%;
    }

    .navbar ul ul {
        margin-left: -20px;
    }

    .wrapper {
        margin: 0% 5%;
    }

}

#introdescription{
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5 em;
}

.ultimate_cont_wrap{
    padding-left: 6%;
    padding-top: 2%;

}

.contact_item{
    padding-bottom: 15px;
}

textarea{
    height: 100px;
}

.volunteer{
    margin-top: 5em;
}

.volunteer h2{
    margin-left: 0px;
}

.volunteer p{
    margin-left: -.5em;
}