/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2015, 3:43:48 PM
    Author     : Zach
*/

.container {
    /*background-color: black;*/
    background-color: rgba(28,157,30,0.4);
    /*background-color: #g1c9d1;*/
    padding: 5%;
    padding-top: 10%;
    overflow: hidden;
    min-height: 800px;
    margin: 0;
    left: 0;
    /*border: 1px solid gray;*/

    /*width: 60%;*/
}

.required-asterisk {
    color: rgb(189, 60, 68);
}

form label { 
    display: inline-block; 
    float: none;
    /*width: 150px;*/
    padding: 0;
    margin: 5px 0 0;
    text-align: left; 
}
form input, select {
    display: inline-block;
    float: none;
    width:auto;
    margin:5px 0 0 10px; 
    padding:5px 5px;
}

.navbar {
    background-color: rgb(189, 60, 68);
    position: fixed;
    border: 1px solid black;
    top:0; 
    left:0;
    width: 100%;
    /*z-index: 1;*/
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar ul {
    list-style: none;
    overflow: hidden;
    margin: 10px 5px;
    padding: 0;
    display:table;
}


.navbar li {
    /*list-style: none;*/
    display: inline-block;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid rgba(189, 60, 68,0.0);
}

.navbar li a {
    display:inline-block;
    padding: 22px;
    height: 100%;
    overflow: hidden;
}

.navbar li:hover {
    background-color: greenyellow;
    border: 1px solid black;
}

.currentPage {
    background-color: greenyellow;
    border: 1px solid black;
    pointer-events: none;
}

.navbar h2 {
    margin: 0;
    padding: 0;
}

/*.search input, .search label {
    font-size: 120%;
    font-weight: bold;
    color: darkblue;
    display: block;
    margin-top: 1em;
    margin-bottom: .2em;
}*/

#tracks table, td, th {
    border: 1px solid gray;
}

#header {
    background-color: #9acd32;
}

input {
    /*display: block;*/
}

.tagFields-disabled {
    display: none;
}

.tagFields-enabled {
    display: block;
}

.error{
    color: darkred;
    /*margin-left: 100px;*/
}

.errordiv {
    border: 2px solid darkred;
    margin: 20px 0px;
    padding-left: 5px;
    padding-bottom: 20px;
}